<div class="view tracks-screen" id="tracks-view" hidden>
  <div class="filter-tabs" id="filter-tabs" role="tablist" aria-label="{{ _("Track lists") }}">
    <a
      class="filter-tab filter-tab--done"
      id="tab-with-url"
      href="#"
      role="tab"
      aria-selected="true"
      aria-controls="column-done"
      tabindex="0"
    >{{ _("Has reference URL") }} <span class="count" id="tab-count-done">0</span></a>
    <a
      class="filter-tab filter-tab--todo"
      id="tab-without-url"
      href="#"
      role="tab"
      aria-selected="false"
      aria-controls="column-todo"
      tabindex="-1"
    >{{ _("Needs reference URL") }} <span class="count" id="tab-count-todo">0</span></a>
  </div>

  <section class="add-panel" aria-labelledby="add-track-heading">
    <h2 id="add-track-heading">{{ _("Add track") }}</h2>
    <form class="add-form" id="add-form">
      <label class="field-label">
        <span class="sr-only">{{ _("Track name") }}</span>
        <input type="text" name="track" placeholder="{{ _("Artist - Track name") }}" autocomplete="off" required />
      </label>
      <label class="field-label">
        <span class="sr-only">{{ _("Reference URL") }}</span>
        <input type="url" name="reference_url" placeholder="{{ _("Reference URL (optional)") }}" autocomplete="off" />
      </label>
      <button type="submit" class="shimmer-button">{{ _("Add") }}</button>
    </form>
  </section>

  <div class="tracks-panels">
    <section
      class="column column--done"
      id="column-done"
      role="tabpanel"
      aria-labelledby="tab-with-url"
    >
      <div class="column-header">
        <span>{{ _("Has reference URL") }}</span>
        <span class="count" id="count-done">0</span>
      </div>
      <ul class="track-list" id="list-done"></ul>
    </section>

    <section
      class="column column--todo"
      id="column-todo"
      role="tabpanel"
      aria-labelledby="tab-without-url"
      hidden
    >
      <div class="column-header">
        <span>{{ _("Needs reference URL") }}</span>
        <span class="count" id="count-todo">0</span>
      </div>
      <ul class="track-list" id="list-todo"></ul>
    </section>
  </div>
</div>
