<!DOCTYPE html>
<html lang="{{ locale }}" data-skin="{{ ui_skin }}" data-locale="{{ locale_code }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <link rel="icon" href="/static/favicon.ico" sizes="any">
  <title>{% block title %}{{ _("Release Finder") }}{% endblock %}</title>
  <link rel="stylesheet" href="/static/css/new_tracks_todo.css">
  {% block head_extra %}{% endblock %}
</head>
<body>
  {% include "partials/header.html" %}
  {% include "partials/breadcrumbs.html" %}
  <div class="page-content container">
    {% block content %}{% endblock %}
  </div>
  {% include "partials/app_chrome.html" %}
  {% include "partials/i18n_bootstrap.html" %}
  <script src="/static/js/i18n.js"></script>
  <script src="/static/js/new_tracks_todo.js"></script>
  {% block scripts_extra %}{% endblock %}
</body>
</html>
